img{
    width: 200px;
    height: 200px;
}
.main{
    display: flex;
    
}

.span{
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 700;
    margin: 10px;
    line-height: 15px;
    font-size: 18px;
    
}
.span:hover{
    cursor: pointer;
}